.center{
    text-align: center;
    
}
.green{
    color: #378C3F;
}
.projcolor{
    background-color: #378C3F;
}
.white{
    color: white;
}

body.fade-out {
    opacity: 0;
    transition: none;
}